<% content_for(:title) do %>
  Timesheet
<% end %>

<table>
  <% @project_entries.each do |project, entries| %>
    <tr>
      <th class='project'><%= project.name %></th>
      <% entries.each do |e| %>
        <td class='entry-name'><%= e.date %><br/><%= e.total %></td>
      <% end %>
    </tr>
  <% end %>
</table>
