<h1>Timesheet#index</h1>
<table>
  <% @entries.each do |e| %>
    <tr>
    <td class='date'><%= e.date %></td>
    <td class='project-name'><%= e.project_name %></td>
    <td class='external-name'><%= e.external_name %></td>
    <td class='total'><%= e.total %></td>
    </tr>
  <% end %>
</table>
