<h1>TimeEntries#new</h1>

<%= form_tag time_entries_path do |f| %>
  <fieldset>
    <%= label_tag :data, 'Enter Data (in CSV Format)' %>
    <%= text_area_tag :data %>
  </fieldset>
  <fieldset>
    <%= submit_tag 'Upload Data' %>
  </fieldset>
<% end %>

